<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapitalOne.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyMillion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CapitalOne.My.MySettings>
            <setting name="Epic1" serializeAs="String">
                <value>SOXL</value>
            </setting>
            <setting name="AccountBalancePerc" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="StopLoss" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="SLThresholds" serializeAs="String">
                <value>20,15,10,5,3</value>
            </setting>
            <setting name="SLAdjustments" serializeAs="String">
                <value>15,10,5,1,0.1</value>
            </setting>
            <setting name="Epic1EntryPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Epic1SL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Epic1DealID" serializeAs="String">
                <value />
            </setting>
        </CapitalOne.My.MySettings>
        <MyMillion.My.MySettings>
            <setting name="Epic1" serializeAs="String">
                <value>SOXL</value>
            </setting>
            <setting name="Epic2" serializeAs="String">
                <value>ARKK</value>
            </setting>
            <setting name="AccountBalancePerc" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="StopLoss" serializeAs="String">
                <value>2.5</value>
            </setting>
        </MyMillion.My.MySettings>
    </userSettings>
</configuration>
